{{ $peopleBusinessPartners := partials.IncludeCached "data/people-business-partners" page }}
<table style="display: table;">
    <thead>
        <tr>
            <th style="width: 30%;">Contact</th>
            <th>Division - Department</th>
        </tr>
    </thead>
    <tbody>
        {{ range $peopleBusinessPartners }}
        <tr>
            <td>{{ partial "member-by-name" .name }}</td>
            <td>{{ .present }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

<style>
    img.avatar {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
    aspect-ratio: auto 90 / 90;
    overflow-clip-margin: content-box;
    }
</style>
